<nav class="navbar navbar-expand-xl navbar-light bg-light" style="background-color: #504f4f">
  <a href="#" class="navbar-brand"
    ><i class="fa fa-cube"></i>Brand<b>Name</b></a
  >
  <button
    type="button"
    class="navbar-toggler"
    data-toggle="collapse"
    data-target="#navbarCollapse"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- Collection of nav links, forms, and other content for toggling -->
  <div
    id="navbarCollapse"
    class="collapse navbar-collapse justify-content-start"
  >
    <div class="navbar-nav"></div>
    <form class="navbar-form form-inline">
      <div class="input-group search-box">
        <input
          type="text"
          id="search"
          class="form-control"
          placeholder="Search"
        />
        <span class="input-group-addon"
          ><i class="material-icons">&#xE8B6;</i></span
        >
      </div>
    </form>
    <div class="navbar-nav ml-auto">
      <a href="#" class="nav-item nav-link notifications"
        ><i class="fa fa-bell-o"></i><span class="badge">1</span></a
      >
      <a href="#" class="nav-item nav-link messages"
        ><i class="fa fa-envelope-o"></i><span class="badge">10</span></a
      >
      <div class="nav-item dropdown">
        <a
          href="#"
          data-toggle="dropdown"
          class="nav-link dropdown-toggle user-action"
          ><img src="assets/images/user.jpg" class="avatar" alt="Avatar" />
          {{ userDetails.fullName }}<b class="caret"></b
        ></a>
        <div class="dropdown-menu">
          <a href="#" class="dropdown-item"
            ><i class="fa fa-envelope"></i> {{ userDetails.email }}</a
          >
          <a href="#" class="dropdown-item"
            ><i class="fa fa-globe"></i> {{ userDetails.address }}</a
          >
          <a href="#" class="dropdown-item"
            ><i class="fa fa-phone-square"></i> {{ userDetails.telephone }}</a
          >
          <div class="dropdown-divider"></div>
          <a href="#" class="dropdown-item" (click)="onLogout()"
            ><i class="material-icons">&#xE8AC;</i> Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Sidebar -->
<nav id="sidebar">
  <div class="sidebar-header" style="text-align: center">
    <img src="assets/images/logo.png" class="logo" alt="logo" />
    <p
      style="font-size: 16px; margin-top: 10px; top: -10px; position: relative"
    >
      Management Dashboard
    </p>
  </div>

  <ul class="list-unstyled components">
    <li>
      <a [routerLink]="['overview']">Overview</a>
    </li>
    <mat-divider></mat-divider>
    <li *ngIf="userDetails.userType == 0">
      <a [routerLink]="['requisitions/manage']">Requisitions</a>
    </li>

    <mat-divider></mat-divider>
    <li>
      <a
        href="#orderSubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Orders</a
      >
      <ul class="collapse list-unstyled" id="orderSubmenu">
        <li>
          <a [routerLink]="['orders']">Create</a>
        </li>
      </ul>
    </li>

    <mat-divider *ngIf="userDetails.userType == 0"></mat-divider>
    <li>
      <a
        href="#paySubmenu"
        data-toggle="collapse"
        aria-expanded="false"
        class="dropdown-toggle"
        >Payments</a
      >
      <ul class="collapse list-unstyled" id="paySubmenu">
        <li>
          <a [routerLink]="['payments']">Create</a>
        </li>
      </ul>
    </li>
    <mat-divider></mat-divider>
    <li *ngIf="userDetails.userType == 0">
      <a [routerLink]="['items/manage']">Stocks</a>
    </li>
    <mat-divider></mat-divider>
    <li *ngIf="userDetails.userType == 0">
      <a [routerLink]="['suppliers/manage']">Suppliers</a>
    </li>
    <mat-divider *ngIf="userDetails.userType == 0"></mat-divider>
    <li *ngIf="userDetails.userType == 0">
      <a [routerLink]="['projects/manage']">Projects/Sites</a>
    </li>
    <mat-divider *ngIf="userDetails.userType == 0"></mat-divider>
    <li *ngIf="userDetails.userType == 0">
      <a [routerLink]="['profiles/manage']">Profiles</a>
    </li>
  </ul>
</nav>

<div class="inner-container">
  <router-outlet></router-outlet>
</div>
