  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .mat-stroked-button{
    margin-right: 20px;
  }

  .list{
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
  }

  .topic{
    font-family: "Poppins", sans-serif;
    color: #852d59;
    text-align: left;
  }

  .paginate{
    border-radius: 10px;
  }