<h4 class="topic">+ New user</h4>
<form
  #signUpForm="ngForm"
  (ngSubmit)="signUpForm.valid && onSubmit(signUpForm)"
>
  <div class="content">
    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Type</mat-label>
          <mat-select
            #userType="ngModel"
            [(ngModel)]="userService.selectedUser.userType"
            name="userType"
            style="color: #999"
            required
          >
            <mat-option value="0">Administrator/Management</mat-option>
            <mat-option value="1">Procurement Staff</mat-option>
            <mat-option value="2">Accounting Staff</mat-option>
            <mat-option value="3">Site Manager</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Site</mat-label>
          <mat-select
            #site="ngModel"
            [(ngModel)]="userService.selectedUser.site"
            name="site"
            style="color: #999"
            required
          >
            <mat-option value="{{ site._id }}" *ngFor="let site of sites"
              >{{ site.siteName }} - {{ site.city }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Full Name</mat-label>
          <input
            matInput
            #fullName="ngModel"
            [(ngModel)]="userService.selectedUser.fullName"
            name="fullName"
            required
            [ngClass]="{
              'invalid-textbox': signUpForm.submitted && !fullName.valid
            }"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Address</mat-label>
          <input
            matInput
            #address="ngModel"
            [(ngModel)]="userService.selectedUser.address"
            name="address"
            required
            [ngClass]="{
              'invalid-textbox': signUpForm.submitted && !fullName.valid
            }"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Telephone</mat-label>
          <input
            matInput
            #telephone="ngModel"
            [(ngModel)]="userService.selectedUser.telephone"
            name="telephone"
            required
            maxlength="10"
            [ngClass]="{
              'invalid-textbox': signUpForm.submitted && !fullName.valid
            }"
          />
        </mat-form-field>
      </div>
    </div>

    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>E-mail</mat-label>
          <input
            matInput
            #email="ngModel"
            [(ngModel)]="userService.selectedUser.email"
            name="email"
            placeholder="Email"
            required
            [pattern]="emailRegex"
            [ngClass]="{
              'invalid-textbox': signUpForm.submitted && !email.valid
            }"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="form-row">
      <div class="col-md-12 col-sm-12">
        <mat-form-field appearance="outline" class="lwidth">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            #password="ngModel"
            [(ngModel)]="userService.selectedUser.password"
            name="password"
            minlength="4"
            required
            [ngClass]="{
              'invalid-textbox': signUpForm.submitted && !password.valid
            }"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <button
    mat-raised-button
    type="submit"
    style="background-color: #1fdb48; color: white; float: right"
  >
    Create
  </button>
</form>
