.width {
  width: 100%;
}

.lwidth {
  width: 100%;
}

form button {
  margin-right: 20px;
}

#note {
  font-size: 12px;
  font-weight: bold;
}

h2 {
  font-family: "Poppins", sans-serif;
  color: #852d59;
  text-align: left;
}
