h2 {
  font-family: "Poppins", sans-serif;
  color: #852d59;
  text-align: left;
}

mat-form-field {
  width: 100%;
  border-radius: 20%;
}

h4 {
  color: #000;
}

.mat-raised-button {
  float: right;
  margin-bottom: 40px;
}

.lwidth {
  width: 100%;
}
