<h2>Requisition Management</h2>
<br />

<div>
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    style="border-radius: 50px"
  >
    <ng-container matColumnDef="requisitionID">
      <th mat-header-cell *matHeaderCellDef>Requisition No.</th>
      <td mat-cell *matCellDef="let requisition">
        {{ requisition.requisitionID }}
      </td>
    </ng-container>

    <ng-container matColumnDef="siteId">
      <th mat-header-cell *matHeaderCellDef>Site & Site Manager</th>
      <td mat-cell *matCellDef="let requisition">
        {{ requisition.siteId.siteName }} -
        {{ requisition.siteManagerId.fullName }}
      </td>
    </ng-container>

    <ng-container matColumnDef="requestDate">
      <th mat-header-cell *matHeaderCellDef>Requested Date</th>
      <td mat-cell *matCellDef="let requisition">
        {{ requisition.requestDate }}
      </td>
    </ng-container>

    <ng-container matColumnDef="totalAmount">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Total Value
      </th>
      <td mat-cell *matCellDef="let requisition" style="text-align: right">
        {{ requisition.totalAmount | currency: "LKR" }}
      </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Status
      </th>
      <td mat-cell *matCellDef="let requisition" style="text-align: center">
        <span
          class="badge"
          [class.badge-secondary]="requisition.status == 'Pending'"
          [class.badge-success]="requisition.status === 'Approved'"
          [class.badge-danger]="requisition.status === 'Declined'"
          >{{ requisition.status | titlecase }}</span
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="approvedDate">
      <th mat-header-cell *matHeaderCellDef>Approved Date</th>
      <td mat-cell *matCellDef="let requisition">
        {{ requisition.updatedAt | date }}
      </td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef style="text-align: center">
        Action
      </th>
      <td mat-cell *matCellDef="let requisition">
        <a
          mat-raised-button
          style="background-color: #852d59; color: white; float: right"
          (click)="viewRequisitionById(requisition._id)"
          >View</a
        >
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>
</div>
