<h2>Requisition Management</h2><br/>

<div>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="border-radius: 50px">

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="requisitionID">
            <th mat-header-cell *matHeaderCellDef>Requisition Number</th>
            <td mat-cell *matCellDef="let requisition">{{ requisition.requisitionID }}</td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef style="text-align: center">
            Action
            </th>
            <td mat-cell *matCellDef="let site">
            <a
                mat-stroked-button
                style="color: #1125e2"
                (click)="updateSiteDetails(site._id)"
            >Update</a>
            </td>
        </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5]" showFirstLastButtons></mat-paginator>

</div>