<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <div
        class="login100-form-title"
        style="background-image: url(assets/images/bg-01.jpg)"
      >
        <img
          src="assets/images/logo.png"
          style="position: relative; width: 100px"
        />
        <span class="login100-form-title-1"> Sign In </span>
      </div>

      <form
        class="login100-form validate-form"
        #signInForm="ngForm"
        (ngSubmit)="signInForm.valid && onSubmit(signInForm)"
      >
        <div
          class="wrap-input100 validate-input m-b-26"
          data-validate="Username is required"
        >
          <span class="label-input100">Username</span>
          <input
            class="input100"
            type="text"
            name="email"
            #email="ngModel"
            [(ngModel)]="model.email"
            placeholder="Enter username"
            [pattern]="emailRegex"
            required
            [ngClass]="{
              'invalid-textbox': signInForm.submitted && !email.valid
            }"
          />

          <span class="focus-input100"></span>
        </div>
        <!--       <div *ngIf="signInForm.submitted && email.errors?.pattern">
          <label class="validation-message" style="font-size: 10px; color: red"
            >Invalid email address.</label
          >
        </div> -->
        <div
          class="wrap-input100 validate-input m-b-18"
          data-validate="Password is required"
        >
          <span class="label-input100">Password</span>
          <input
            class="input100"
            type="password"
            name="password"
            placeholder="Enter password"
            #password="ngModel"
            [(ngModel)]="model.password"
            required
            minlength="4"
            [ngClass]="{
              'invalid-textbox': signInForm.submitted && !password.valid
            }"
          />

          <span class="focus-input100"></span>
        </div>
        <!--       <div *ngIf="signInForm.submitted && password.errors?.minlength">
          <label class="validation-message" style="font-size: 10px; color: red"
            >Minimum 4 characters.</label
          >
        </div> -->

        <div class="flex-sb-m w-full p-b-30">
          <div class="contact100-form-checkbox">
            <input
              class="input-checkbox100"
              id="ckb1"
              type="checkbox"
              name="remember-me"
            />
            <label class="label-checkbox100" for="ckb1"> Remember me </label>
          </div>
        </div>

        <div class="container-login100-form-btn">
          <input type="submit" class="login100-form-btn" value="Login" />
        </div>
      </form>
    </div>
  </div>
</div>
